###############################################################################
# Git Ignore Rules for the NoStress Kommndo Shell Suite.
###############################################################################

# Some temporary and backup files.
.\#*
\#*
*~
